In [4]:
import pandas as pd

# Load your dataset
data = pd.read_csv('C:/Users/asurapa4/Downloads/merged_rides_with_elevation.csv')

In [5]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Start_Altitude,End_Altitude,end_altitude,end_Altitude,Start_Altutude,State_Altitude,Elevation_Change
0,C2F7DD78E82EC875,electric_bike,1/13/2022 11:59,1/13/2022 12:02,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,184.1,603.6,NaN,NaN,NaN,NaN,419.5
1,A6CF8980A652D272,electric_bike,1/10/2022 8:41,1/10/2022 8:46,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,184.6,603.6,NaN,NaN,NaN,NaN,419.0
2,BD0F91DFF741C66D,classic_bike,1/25/2022 4:53,1/25/2022 4:58,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,181.7,592.5,NaN,NaN,NaN,NaN,410.8
3,CBB80ED419105406,classic_bike,1/4/2022 0:18,1/4/2022 0:33,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,182.9,598.1,NaN,NaN,NaN,NaN,415.2
4,DDC963BFDDA51EEA,classic_bike,1/20/2022 1:31,1/20/2022 1:37,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,182.5,594.7,NaN,NaN,NaN,NaN,412.2

In [6]:
columns_to_delete = ['ride_id','ended_at','end_station_name','end_station_id','member_casual', 'end_lat','end_lng','Start_Altitude','End_Altitude','Start_Altutude','Elevation_Change' ]
data = data.drop(columns=columns_to_delete)
data.head()

,rideable_type,started_at,start_station_name,start_station_id,start_lat,start_lng,end_altitude,end_Altitude,State_Altitude
0,electric_bike,1/13/2022 11:59,Glenwood Ave & Touhy Ave,525,42.012800,-87.665906,NaN,NaN,NaN
1,electric_bike,1/10/2022 8:41,Glenwood Ave & Touhy Ave,525,42.012763,-87.665967,NaN,NaN,NaN
2,classic_bike,1/25/2022 4:53,Sheffield Ave & Fullerton Ave,TA1306000016,41.925602,-87.653708,NaN,NaN,NaN
3,classic_bike,1/4/2022 0:18,Clark St & Bryn Mawr Ave,KA1504000151,41.983593,-87.669154,NaN,NaN,NaN
4,classic_bike,1/20/2022 1:31,Michigan Ave & Jackson Blvd,TA1309000002,41.877850,-87.624080,NaN,NaN,NaN

In [10]:
columns_to_delete = ['started_at']
data = data.drop(columns=columns_to_delete)
data.head()

   rideable_type             start_station_name  start_lat  start_lng
0  electric_bike       Glenwood Ave & Touhy Ave  42.012800 -87.665906
1  electric_bike       Glenwood Ave & Touhy Ave  42.012763 -87.665967
2   classic_bike  Sheffield Ave & Fullerton Ave  41.925602 -87.653708
3   classic_bike       Clark St & Bryn Mawr Ave  41.983593 -87.669154
4   classic_bike    Michigan Ave & Jackson Blvd  41.877850 -87.624080

In [11]:
# Removing rows except where rideable_type is 'classic_bike'
df_classic_bike = data[data['rideable_type'] != 'electric_bike']

In [12]:

df_classic_bike = data[data['rideable_type'] != 'docked_bike']
print(df_classic_bike)

          rideable_type             start_station_name  start_lat  start_lng
0         electric_bike       Glenwood Ave & Touhy Ave  42.012800 -87.665906
1         electric_bike       Glenwood Ave & Touhy Ave  42.012763 -87.665967
2          classic_bike  Sheffield Ave & Fullerton Ave  41.925602 -87.653708
3          classic_bike       Clark St & Bryn Mawr Ave  41.983593 -87.669154
4          classic_bike    Michigan Ave & Jackson Blvd  41.877850 -87.624080
...                 ...                            ...        ...        ...
11387550  electric_bike              900 W Harrison St  41.874702 -87.649804
11387551   classic_bike              900 W Harrison St  41.874754 -87.649807
11387552   classic_bike              900 W Harrison St  41.874754 -87.649807
11387553  electric_bike         Damen Ave & Madison St  41.881396 -87.674984
11387554   classic_bike              900 W Harrison St  41.874754 -87.649807

[11131817 rows x 4 columns]

In [13]:
# Removing
df_classic_bike = df_classic_bike.drop_duplicates(subset=['start_lat', 'start_lng'])
print(df_classic_bike)

          rideable_type             start_station_name  start_lat  start_lng
0         electric_bike       Glenwood Ave & Touhy Ave  42.012800 -87.665906
1         electric_bike       Glenwood Ave & Touhy Ave  42.012763 -87.665967
2          classic_bike  Sheffield Ave & Fullerton Ave  41.925602 -87.653708
3          classic_bike       Clark St & Bryn Mawr Ave  41.983593 -87.669154
4          classic_bike    Michigan Ave & Jackson Blvd  41.877850 -87.624080
...                 ...                            ...        ...        ...
11387542  electric_bike         Damen Ave & Madison St  41.881402 -87.674981
11387547  electric_bike              900 W Harrison St  41.874781 -87.649795
11387549  electric_bike           Racine Ave & 18th St  41.858239 -87.656382
11387550  electric_bike              900 W Harrison St  41.874702 -87.649804
11387553  electric_bike         Damen Ave & Madison St  41.881396 -87.674984

[3985952 rows x 4 columns]

In [15]:
df_classic_bike = df_classic_bike[df_classic_bike['rideable_type'] != 'electric_bike']

# Display the DataFrame after removal of 'classic_bike' rows
print(df_classic_bike)

         rideable_type             start_station_name  start_lat  start_lng
2         classic_bike  Sheffield Ave & Fullerton Ave  41.925602 -87.653708
3         classic_bike       Clark St & Bryn Mawr Ave  41.983593 -87.669154
4         classic_bike    Michigan Ave & Jackson Blvd  41.877850 -87.624080
5         classic_bike          Wood St & Chicago Ave  41.895634 -87.672069
6         classic_bike    Oakley Ave & Irving Park Rd  41.954341 -87.686080
...                ...                            ...        ...        ...
11362616  classic_bike       Clark St & Schreiber Ave  41.999245 -87.671249
11365366  classic_bike        Keeler Ave & Carmen Ave  41.974323 -87.733100
11374912  classic_bike                Scottsdale Park  41.741966 -87.736179
11378410  classic_bike    Parkside Ave & Armitage Ave  41.916907 -87.767173
11381928  classic_bike            Damen Ave & 87th St  41.736044 -87.672861

[2615 rows x 4 columns]

In [16]:
# Sample 1700 items randomly without replacement
sample = df_classic_bike.sample(n=1700, random_state=1)

In [17]:
import folium
from folium.plugins import MarkerCluster
# Create a map centered around the average coordinates of the data
average_lat = sample['start_lat'].mean()
average_lng = sample['start_lng'].mean()
map = folium.Map(location=[average_lat, average_lng], zoom_start=11)

# Create a MarkerCluster object
marker_cluster = MarkerCluster().add_to(map)

# Add points to the MarkerCluster
for index, row in sample.iterrows():
    folium.Marker(
        location=[row['start_lat'], row['start_lng']],
        popup=row['start_station_name']
    ).add_to(marker_cluster)

In [18]:
map.save('classic_map_final.html ')