In [2]:
# Step 1: Load Data
# Assuming the data is in a CSV file named 'ride_data.csv'
data = pd.read_csv('C:/Users/asurapa4/Downloads/merged_rides_with_elevation.csv')
data['started_at'] = pd.to_datetime(data['started_at'])

In [3]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Start_Altitude,End_Altitude,end_altitude,end_Altitude,Start_Altutude,State_Altitude,Elevation_Change
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:00,1/13/2022 12:02,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,184.1,603.6,NaN,NaN,NaN,NaN,419.5
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:00,1/10/2022 8:46,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,184.6,603.6,NaN,NaN,NaN,NaN,419.0
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:00,1/25/2022 4:58,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,181.7,592.5,NaN,NaN,NaN,NaN,410.8
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:00,1/4/2022 0:33,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,182.9,598.1,NaN,NaN,NaN,NaN,415.2
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:00,1/20/2022 1:37,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,182.5,594.7,NaN,NaN,NaN,NaN,412.2

In [4]:
columns_to_delete = ['ride_id','started_at','ended_at','end_station_name','end_station_id','member_casual', 'end_lat','end_lng','Start_Altitude','End_Altitude','Start_Altutude','Elevation_Change''start_station_id','end_altitude','end_Altitude','State_Altitude' ]
data = data.drop(columns=columns_to_delete)
data.head()

,rideable_type,started_at,start_station_name,start_station_id,start_lat,start_lng,end_altitude,end_Altitude,State_Altitude
0,electric_bike,2022-01-13 11:59:00,Glenwood Ave & Touhy Ave,525,42.012800,-87.665906,NaN,NaN,NaN
1,electric_bike,2022-01-10 08:41:00,Glenwood Ave & Touhy Ave,525,42.012763,-87.665967,NaN,NaN,NaN
2,classic_bike,2022-01-25 04:53:00,Sheffield Ave & Fullerton Ave,TA1306000016,41.925602,-87.653708,NaN,NaN,NaN
3,classic_bike,2022-01-04 00:18:00,Clark St & Bryn Mawr Ave,KA1504000151,41.983593,-87.669154,NaN,NaN,NaN
4,classic_bike,2022-01-20 01:31:00,Michigan Ave & Jackson Blvd,TA1309000002,41.877850,-87.624080,NaN,NaN,NaN

In [7]:
# Removing rows where rideable_type is 'classic_bike'
df_electric = data[data['rideable_type'] != 'classic']

# Display the DataFrame after removal of 'classic_bike' rows
print("\nDataFrame after removing 'classic_bike' rows:")
print(df_electric)

DataFrame after removing 'classic_bike' rows:
          rideable_type          started_at           start_station_name  \
0         electric_bike 2022-01-13 11:59:00     Glenwood Ave & Touhy Ave
1         electric_bike 2022-01-10 08:41:00     Glenwood Ave & Touhy Ave
8         electric_bike 2022-01-17 07:34:00         Racine Ave & 15th St
11        electric_bike 2022-01-29 12:30:00   Clarendon Ave & Leland Ave
14        electric_bike 2022-01-08 05:36:00  Michigan Ave & Jackson Blvd
...                 ...                 ...                          ...
11387542  electric_bike 2023-12-02 21:39:00       Damen Ave & Madison St
11387547  electric_bike 2023-12-19 12:22:00            900 W Harrison St
11387549  electric_bike 2023-12-04 23:34:00         Racine Ave & 18th St
11387550  electric_bike 2023-12-07 13:15:00            900 W Harrison St
11387553  electric_bike 2023-12-02 21:36:00       Damen Ave & Madison St

          start_lat  start_lng
0         42.012800 -87.665906
1         42.012763 -87.665967
8         41.861251 -87.656500
11        41.967962 -87.650029
14        41.877849 -87.624056
...             ...        ...
11387542  41.881402 -87.674981
11387547  41.874781 -87.649795
11387549  41.858239 -87.656382
11387550  41.874702 -87.649804
11387553  41.881396 -87.674984

[6090346 rows x 5 columns]

In [10]:
df_electric = df_electric[df_electric['rideable_type'] != 'docked_bike']

# Display the DataFrame after removal of 'docked_bike' rows
print("\nDataFrame after removing 'docked_bike' rows:")
print(df_electric)

DataFrame after removing 'classic_bike' rows:
          rideable_type          started_at           start_station_name  \
0         electric_bike 2022-01-13 11:59:00     Glenwood Ave & Touhy Ave
1         electric_bike 2022-01-10 08:41:00     Glenwood Ave & Touhy Ave
8         electric_bike 2022-01-17 07:34:00         Racine Ave & 15th St
11        electric_bike 2022-01-29 12:30:00   Clarendon Ave & Leland Ave
14        electric_bike 2022-01-08 05:36:00  Michigan Ave & Jackson Blvd
...                 ...                 ...                          ...
11387542  electric_bike 2023-12-02 21:39:00       Damen Ave & Madison St
11387547  electric_bike 2023-12-19 12:22:00            900 W Harrison St
11387549  electric_bike 2023-12-04 23:34:00         Racine Ave & 18th St
11387550  electric_bike 2023-12-07 13:15:00            900 W Harrison St
11387553  electric_bike 2023-12-02 21:36:00       Damen Ave & Madison St

          start_lat  start_lng
0         42.012800 -87.665906
1         42.012763 -87.665967
8         41.861251 -87.656500
11        41.967962 -87.650029
14        41.877849 -87.624056
...             ...        ...
11387542  41.881402 -87.674981
11387547  41.874781 -87.649795
11387549  41.858239 -87.656382
11387550  41.874702 -87.649804
11387553  41.881396 -87.674984

[5834608 rows x 5 columns]

In [23]:
df_electric.head()

    rideable_type           start_station_name  start_lat  start_lng
0   electric_bike     Glenwood Ave & Touhy Ave  42.012800 -87.665906
1   electric_bike     Glenwood Ave & Touhy Ave  42.012763 -87.665967
8   electric_bike         Racine Ave & 15th St  41.861251 -87.656500
11  electric_bike   Clarendon Ave & Leland Ave  41.967962 -87.650029
14  electric_bike  Michigan Ave & Jackson Blvd  41.877849 -87.624056

In [24]:
duplicates = df_electric.duplicated(subset=['start_lat', 'start_lng'], keep=False)

# Display only duplicates
print("\nDuplicates (if any):")
print(df_electric[duplicates])

Duplicates (if any):
          rideable_type               start_station_name  start_lat  start_lng
85        electric_bike          Rockwell St & Cermak Rd  41.850000 -87.690000
130       electric_bike  N Southport Ave & W Newport Ave  41.940000 -87.660000
256       electric_bike                              NaN  41.930000 -87.760000
288       electric_bike         Damen Ave & Wabansia Ave  41.910000 -87.680000
359       electric_bike       Lincoln Ave & Balmoral Ave  41.980000 -87.690000
...                 ...                              ...        ...        ...
11385977  electric_bike       Lincoln Ave & Waveland Ave  41.948808 -87.675238
11386097  electric_bike     Desplaines St & Jackson Blvd  41.878223 -87.644207
11386632  electric_bike       Kedzie Ave & Milwaukee Ave  41.929704 -87.708060
11386636  electric_bike   Southport Ave & Wrightwood Ave  41.928773 -87.663894
11386824  electric_bike              Ellis Ave & 60th St  41.785078 -87.601121

[1863493 rows x 4 columns]

In [25]:
df_electric_unique = df_electric.drop_duplicates(subset=['start_lat', 'start_lng'])

In [26]:
df_electric_unique.to_csv('data_final_electric.csv', index=False)

In [27]:
# Sample 1700 items randomly without replacement
sample = df_electric_unique.sample(n=1700, random_state=1)

In [34]:
import folium
from folium.plugins import MarkerCluster
# Create a map centered around the average coordinates of the data
average_lat = sample['start_lat'].mean()
average_lng = sample['start_lng'].mean()
map = folium.Map(location=[average_lat, average_lng], zoom_start=11)

# Create a MarkerCluster object
marker_cluster = MarkerCluster().add_to(map)

# Add points to the MarkerCluster
for index, row in sample.iterrows():
    folium.Marker(
        location=[row['start_lat'], row['start_lng']],
        popup=row['start_station_name']
    ).add_to(marker_cluster)

In [35]:
map.save('electric_map_final.html ')